<!DOCTYPE html>
<html>
  <head>
    <title>SurveyMaker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
  </head>

  <body>
    <div class="jumbotron">
      <h1>Welcome to the Dope Survey Site</h1>
      <nav>
        <%= link_to "Home", root_path %>
        <%= link_to "Surveys", surveys_path %>
      </nav>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
